dist/
deploy_versions/
.temp/
.rn_temp/
node_modules/*
.DS_Store
.swc
project.private.config.json
.vscode
yarn-error.log
.idea
.env.development.local
.env.production.local
.cloudbase/
package-lock.json
yarn.lock